<a href="https://colab.research.google.com/github/muriukiian/Python-for-machine-learning---Basics/blob/main/List_tuple_set_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lists

In [1]:
#Lists should be enclosed in the square brackets. []
my_list = [1,2,3,4,5]
print(my_list)
#To check data type
type(my_list)

[1, 2, 3, 4, 5]

list

Lists can have multiple data types

In [2]:
my_list = [2,3,1.8,'English', True]
print(my_list)

[2, 3, 1.8, 'English', True]

Lists are mutable. They are changeable.

In [3]:
#add elements to a list
my_list.append(6)
print(my_list)

[2, 3, 1.8, 'English', True, 6]

Print elements of a list using their index

In [4]:
#index goes into square brackets[]
print(my_list[3])

English

In [5]:
#lists allow duplicates
my_list.append('English')
print(my_list)

[2, 3, 1.8, 'English', True, 6, 'English']

In [6]:
#to print number of elements in a list
print(len(my_list))

7

In [7]:
#initiating an empty list
list_2 = []
print(list_2)

[]

In [8]:
list_2.append(8)
print(list_2)

[8]

In [9]:
#delete an element in a list
del list_2[0]
print(list_2)

[]

In [10]:
#join two lists
list_4 = [4,5,7,2,5,7]
list_3 = [2,5,3,6,7,8]

list_5 = list_4 + list_3
print(list_5)

[4, 5, 7, 2, 5, 7, 2, 5, 3, 6, 7, 8]

Tuple

In [11]:
tuple_1 = (92,3,4,55,5)
print(tuple_1)
type(tuple_1)

(92, 3, 4, 55, 5)

tuple

In [12]:
#allows multiple data types
tuple_2 = (2,3,4,5,'the',False)
print(tuple_2)

(2, 3, 4, 5, 'the', False)

In [13]:
#converting a list to a tuple
my_list89 = [3,4,5,6]
print(my_list89)
my_tuple = tuple(my_list89)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [16]:
print(my_tuple[0])
print(my_tuple[1])

3
4

Tuples are unchangeable

In [17]:
my_tuple.append(7)
print(my_tuple)

AttributeError: 'tuple' object has no attribute 'append'

In [18]:
#print the length of a tuple
print(len(my_tuple))

4

Set

In [19]:
#set should be enclosed in curly bracket{}
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [20]:
#set doesnot support indexing
print(my_set[2])

TypeError: 'set' object is not subscriptable

In [22]:
#convert list to a set
lists = [4,5,6,7,8]
sets= set(lists)
print(sets)
type(sets)

{4, 5, 6, 7, 8}

set

In [23]:
#set does not allow duplicate values
set3 = {1,2,3,4,5,1,3}
print(set3)

{1, 2, 3, 4, 5}

In [24]:
#sets are unchangeable

set3.append(6)
print(set3)

AttributeError: 'set' object has no attribute 'append'

Dictionary

Key-value pairs

In [25]:
my_dict = {'name' : 'David','age':30, 'country': 'Kenya'}
print(my_dict)
type(my_dict)

{'name': 'David', 'age': 30, 'country': 'Kenya'}

dict

In [27]:
print(my_dict['name'])
print(my_dict['age'])
print(my_dict['country'])

David
30
Kenya

In [28]:
#dictionary doea not allow duplicates
dict2 = {'name' : 'David','age':30, 'country': 'Kenya','name' : 'David','age':30, 'country': 'Kenya'}
print(dict2)

{'name': 'David', 'age': 30, 'country': 'Kenya'}