<a href="https://colab.research.google.com/github/muriukiian/Python-for-machine-learning---Basics/blob/main/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

FOR loops

In [4]:
laptop1 = int(input("Enter the price of the laptop : "))
laptop1 = int(input("Enter the price of the laptop : "))
laptop1 = int(input("Enter the price of the laptop : "))
laptop1 = int(input("Enter the price of the laptop : "))
laptop1 = int(input("Enter the price of the laptop : "))

Enter the price of the laptop : 50000
Enter the price of the laptop : 45000
Enter the price of the laptop : 34000
Enter the price of the laptop : 34567
Enter the price of the laptop : 23950

In [6]:
#asking input 5 times without repeating the same code 5 times
#we use for loop.

for i in range(5):   #0,1,2,3,4
  laptop_price = int(input('Enter price of laptop : '))

Enter price of laptop : 40000
Enter price of laptop : 34555
Enter price of laptop : 23564
Enter price of laptop : 67545
Enter price of laptop : 76543

In [7]:
num = [50,100,150,200]

for numbers in num:
  print(numbers)

50
100
150
200

WHILE loops

=>used when not sure the number of times a function should be executed

In [10]:
i = 0
while i < 10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9